
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Crear Casos</title>
<link href="/css/StyleLogin.css" rel="stylesheet">
</head>
<body>
	<form th:action="@{/CrearCasos}" method="post" th:object="${casos}">
		<div class="login-box">
			<h2>CREAR INCIDENCIAS (EMP)</h2>

			<div class="user-box">
				<input type="text" name="descripcion"
					th:field="*{descripcion}" required autofocus="autofocus"
					placeholder="Descripcion Incidencia (EMP)">
			</div>
			<div class="user-box">
				<input type="text" th:field="*{telefono}" required
					placeholder="Telefono (EMP)">
			</div>
			<div class="user-box">
				<input type="hidden" th:value="${casos.fecha_creacion}" readonly>
			</div>
			<div class="user-box">
				<input type="hidden" th:field="*{estado_caso}" th:value="PENDIENTE" />
			</div>

		</div>
		<div class="btn">
			<input
				style="left: 470px; padding: 10px; background-color: #bdc3ee; border-radius: 5px; width: 75px; top: 150px"
				type="submit" class="btn" value="ENVIAR" />
		</div>
		<a
			style="display: inline-block; padding: 10px 20px; background-color: #999BB8; border-radius: 3px; text-decoration: none; color: #fff; font-weight: bold; color: #000000; position: fixed; top: 3px; left: 3px;" th:href="@{/HomeCasoUser}">VOLVER</a>
	</form>
</body>
</html>
