<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<meta charset="utf-8">
<title>Bienvenido</title>
<link href="/css/StyleNotFound.css" rel="stylesheet">
<!--<link th:href="#" rel="stylesheet">-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<body>
	<!-- PAGINA 404 -->
	<div class="container">

		<div class="info-label">

			<div class="error">
				<h2>404</h2>
				<div class="text">

					<b>Error Pagina No Encontrada</b>

				</div>

			</div>


		</div>

		<div class="info-text">
			<h1>Page not found</h1>
			<center>
			<p style="position: relative; left: 10px; text-align: center;">Pagina o modulo no encontrado, para mayor información contacte al administrador.</p>			
			</center>

		</div>

	</div>

</body>
</html>